/* RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

body {
    font-family: 'Roboto', sans-serif;

}

img {
    width: 100%;
}

.col {
    float: left;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.button {
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 5px;
}

.green_bt {
    color: white;
    background-color: rgb(124, 187, 0);
}

.gray_text {
    color: gray;
    letter-spacing: -0.5px;
}

.green_text {
    color: rgb(124, 187, 0);;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* HEADER */

header {
    background-color: rgb(12, 50, 90);
    height: 600px;
    background-image: url(../img/background-header.png);
    background-size: 1100px;
    background-repeat: no-repeat;
    background-position: 111% 108%;
}

/* logo */
.logo {
    width: 10%;
}

/* menu */
.menu_cx {
    width: 55%;
    padding-left: 50px;
}

.menu_dx {
    width: 35%;
    text-align: right;
}

/* menu nav */
nav {
    padding: 20px 0;
}

.menu {
    list-style-type: none;
}

.menu li {
    display: inline-block;
    line-height: 60px;
}

.menu li a {
    font-size: 13px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 20px;
}

.menu .login {
    border: 1px solid white;
    padding: 10px 35px;
    border-radius: 5px;
}

/* teaser */
.teaser {
    width: 45%;
    margin-top: 10%;
}

header h1 {
    color: white;
    font-size: 55px;
}

.teaser .teaser_bt {
    padding: 25px 20px;
    display: inline-block;
    margin-top: 5%;
}

/* MAIN */
/* main banner */
.main_banner {
    height: 200px;
    background-color: rgb(211, 211, 211);
    text-align: center;
    position: relative;
}

.main_banner .title {
    padding: 20px;
}

.title h2 {
    font-size: 32px;
    margin-bottom: 10px;
    letter-spacing: -1px;
}

.main_banner p {
    font-size: 22px;
}

/* main colonne */

.col_cont {
    margin-top: 40px;
    margin-bottom: 40px;
}

.col_sx, .col_cx, .col_dx {
    width: 30%;
    text-align: center;
}

.col_cx {
    margin: 0 5%;
}

.cont_img {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.cont_img img{
    object-fit: cover;
}

.col_sx img {
    width: 40%;
}

.col_cx img {
    width: 65%;
}

.col_dx img {
    width: 45%;
}

.col h3 {
    font-size: 30px;
    margin: 25px 0;
}

.col hr {
    display: inline-block;
    width: 20%;
}
